In [1]:
import pandas as pd

In [2]:
apple = pd.read_csv('apple.csv', index_col = 'Date', parse_dates = [0])

In [3]:
apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-12-31,26.752501,26.757500,26.205000,26.315001,24.266081,163649200
2016-01-04,25.652500,26.342501,25.500000,26.337500,24.286833,270597600
2016-01-05,26.437500,26.462500,25.602501,25.677500,23.678219,223164000
2016-01-06,25.139999,25.592501,24.967501,25.174999,23.214844,273829600
2016-01-07,24.670000,25.032499,24.107500,24.112499,22.235069,324377600
...,...,...,...,...,...,...
2021-08-23,148.309998,150.190002,147.889999,149.710007,149.710007,60131800
2021-08-24,149.449997,150.860001,149.149994,149.619995,149.619995,48606400
2021-08-25,149.809998,150.320007,147.800003,148.360001,148.360001,58991300
2021-08-26,148.350006,149.119995,147.509995,147.539993,147.539993,48597200
2021-08-27,147.479996,148.750000,146.830002,148.600006,148.600006,55721500

In [4]:
msft = pd.read_csv('msft.csv', index_col = 'Date', parse_dates = [0])

In [5]:
msft

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-12-31,56.040001,56.189999,55.419998,55.480000,50.298279,27334100
2016-01-04,54.320000,54.799999,53.389999,54.799999,49.681782,53778000
2016-01-05,54.930000,55.389999,54.540001,55.049999,49.908432,34079700
2016-01-06,54.320000,54.400002,53.639999,54.049999,49.001839,39518900
2016-01-07,52.700001,53.490002,52.070000,52.169998,47.297417,56564900
...,...,...,...,...,...,...
2021-08-23,303.250000,305.399994,301.850006,304.649994,304.649994,22830200
2021-08-24,305.019989,305.649994,302.000000,302.619995,302.619995,18175800
2021-08-25,304.299988,304.589996,300.420013,302.010010,302.010010,20006100
2021-08-26,300.989990,302.429993,298.950012,299.089996,299.089996,17666100
2021-08-27,298.989990,300.869995,296.829987,299.720001,299.720001,22597000

In [6]:
apple['Daily Return'] = apple['Adj Close'].pct_change(1)
apple.dropna()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2016-01-04,25.652500,26.342501,25.500000,26.337500,24.286833,270597600,0.000855
2016-01-05,26.437500,26.462500,25.602501,25.677500,23.678219,223164000,-0.025059
2016-01-06,25.139999,25.592501,24.967501,25.174999,23.214844,273829600,-0.019570
2016-01-07,24.670000,25.032499,24.107500,24.112499,22.235069,324377600,-0.042205
2016-01-08,24.637501,24.777500,24.190001,24.240000,22.352642,283192000,0.005288
...,...,...,...,...,...,...,...
2021-08-23,148.309998,150.190002,147.889999,149.710007,149.710007,60131800,0.010257
2021-08-24,149.449997,150.860001,149.149994,149.619995,149.619995,48606400,-0.000601
2021-08-25,149.809998,150.320007,147.800003,148.360001,148.360001,58991300,-0.008421
2021-08-26,148.350006,149.119995,147.509995,147.539993,147.539993,48597200,-0.005527
2021-08-27,147.479996,148.750000,146.830002,148.600006,148.600006,55721500,0.007185

In [7]:
msft['Daily Return'] = msft['Adj Close'].pct_change(1)
msft.dropna()

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2016-01-04,54.320000,54.799999,53.389999,54.799999,49.681782,53778000,-0.012257
2016-01-05,54.930000,55.389999,54.540001,55.049999,49.908432,34079700,0.004562
2016-01-06,54.320000,54.400002,53.639999,54.049999,49.001839,39518900,-0.018165
2016-01-07,52.700001,53.490002,52.070000,52.169998,47.297417,56564900,-0.034783
2016-01-08,52.369999,53.279999,52.150002,52.330002,47.442482,48754000,0.003067
...,...,...,...,...,...,...,...
2021-08-23,303.250000,305.399994,301.850006,304.649994,304.649994,22830200,0.000953
2021-08-24,305.019989,305.649994,302.000000,302.619995,302.619995,18175800,-0.006663
2021-08-25,304.299988,304.589996,300.420013,302.010010,302.010010,20006100,-0.002016
2021-08-26,300.989990,302.429993,298.950012,299.089996,299.089996,17666100,-0.009669
2021-08-27,298.989990,300.869995,296.829987,299.720001,299.720001,22597000,0.002106

In [20]:
def compute_sharpe(daily_return, risk_free_rate = 0):
     return ((daily_return['Daily Return'].mean()-risk_free_rate)/(daily_return['Daily Return'].std())) * (252**0.5)

sr_apple = compute_sharpe(apple)
sr_apple

1.2295225902465745

In [22]:
sr_msft = compute_sharpe(msft)
sr_msft

1.3052460572259053

In [26]:
def sortino_ratio(daily_return,risk_free_rate = 0, threshold = 0):
    downside  = daily_return[daily_return['Daily Return']<threshold]['Daily Return']
    std = downside.std()
    return ((daily_return['Daily Return'].mean()-risk_free_rate)/(std)) * (252**0.5)

sortino_ratio(apple)

1.613582243456225

In [28]:
sortino_ratio(msft)

1.6951511731994173

In [ ]:
def compute_sharpe(daily_return, risk_free_rate = 0):
     return ((daily_return['Daily Return'].mean()-risk_free_rate)/(daily_return['Daily Return'].std()))

In [42]:
import scipy.stats

In [64]:
def compute_pdr(daily_return, bmark = 0):
    sr = compute_sharpe(daily_return)
    skew = scipy.stats.skew(daily_return['Daily Return'])
    kurtosis = scipy.stats.kurtosis(daily_return['Daily Return'], fisher = True)
    n = len(daily_return)
    sigma_sr =  ( (1 / (n-1)) * (1 + 0.5 * sr**2 - skew * sr + (kurtosis / 4) * sr**2))**0.5
    ratio = (sr - bmark)/sigma_sr
    psr = scipy.stats.norm.cdf(ratio)
    return psr

In [66]:
compute_pdr(apple)

nan

In [76]:
def compute_prob_sharpe_ratio(data, benchmark=0):
    
    sr = compute_sharpe(data, 0)
    
    skew = scipy.stats.skew(data["Daily Return"])
    # Use fisher kurtosis
    
    kurtosis = scipy.stats.kurtosis(data["Daily Return"], fisher=True)  
    
    n = len(data)
    
    std = ( (1 / (n-1)) * (1 + 0.5 * sr**2 - skew * sr + (kurtosis / 4) * sr**2))**0.5
    
    ratio = (sr - benchmark) / std
    prob_sharpe_ratio = scipy.stats.norm.cdf(ratio)
    return prob_sharpe_ratio

In [80]:
compute_prob_sharpe_ratio(apple)

nan